CLIENT_GATEWAY_PORT=3000

# https://dashboard.stripe.com/test/apikeys
STRIPE_SECRET=

STRIPE_SUCCESS_URL=http://localhost:3003/payments/success
STRIPE_CANCEL_URL=http://localhost:3003/payments/cancel

# https://dashboard.stripe.com/test/workbench/webhooks
# Webhook signing secret
STRIPE_ENDPOINT_SECRET=

AUTH_DATABASE_URL=

JWT_SECRET=

ORDERS_DATABASE_URL=